@font-face {
    font-family: "iconfont"; /* Project id 3715502 */
    src: url('./font_3715502_ff2vqhdblvb.woff2?t=1667197296003') format('woff2'),
    url('./font_3715502_ff2vqhdblvb.woff?t=1667197296003') format('woff'),
    url('./font_3715502_ff2vqhdblvb.ttf?t=1667197296003') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-duibidu:before {
    content: "\ee17";
}

.icon-wenjianxiazai:before {
    content: "\e614";
}

.icon-zitiyulan:before {
    content: "\ec86";
}

.icon-shibai:before {
    content: "\e64e";
}

.icon-chenggong:before {
    content: "\e62f";
}

.icon-daiban:before {
    content: "\e68f";
}

.icon-icon_refresh:before {
    content: "\e629";
}

.icon-OCRshibie:before {
    content: "\e665";
}

.icon-paizhao-:before {
    content: "\e677";
}

.icon-jiahao:before {
    content: "\e618";
}

.icon-qidong:before {
    content: "\e69d";
}

.icon-sousuo:before {
    content: "\e606";
}

.icon-shuaxinanniu:before {
    content: "\e659";
}

.icon-refresh:before {
    content: "\e613";
}